@import "index.scss";
@import "navbar.scss";
@import "servicios.scss";
@import "footer.scss";

.bgImg5 {
  background-image: url(../Images/lavado.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.formulario {
  margin: 5%;
}
