@import "index.scss";
@import "navbar.scss";
@import "servicios.scss";
@import "footer.scss";
@import "nosotros.scss";

$primary-color: rgb(0, 5, 100);

h1 {
  color: $primary-color;
}

h2 {
  color: $primary-color;
}

.contact {
  margin: 5%;
}
